<div class="container">
  <div class="row" class="col-6">
    <h2>List of Products by Stationary</h2>

    <hr />
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Type</th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stationary of stationaries">
          <td>{{ stationary.id }}</td>
          <td>{{ stationary.type }}</td>
          <td>{{ stationary.price }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
